/* Global */

.linkReset {
    text-decoration: none;
    color: rgb(160, 160, 160);
}

.linkReset:hover{
    color:white
}
/* Nav */

/* Section One */

/* Section Two */

/* Section Three */

/* Footer */









